@page "/"
@using System.Diagnostics
@using Crud_Blazr.Core.Models
@using Crud_Blazr.SignalR.Serv.Enums
@using Crud_Blazr.Application.Services
@using Microsoft.AspNetCore.SignalR.Client


@inject UserService UserService
@inject NavigationManager Navigation

<h3>Lista de usuarios</h3>

@if (isLoading)
{
    <p>Cargando...</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" @onclick="() => NavigateToEdit(user.Id)">Editar</button>
                        <button type="button" class="btn btn-outline-danger" @onclick="() => DeleteUser(user.Id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {


    private List<Usuario> users = new();
    private bool isLoading = true;
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            users = (await UserService.GetAllUsersAsync()).ToList();

            hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7198/signalRHub")
            .Build();

            hubConnection.On<string>("UserAdded", (userName) =>
            {
                Debug.WriteLine($"Nuevo Usuario agregadp: {userName}");
                RecargarM();
                InvokeAsync(StateHasChanged);
            });

            hubConnection.On<int>("UserDeleted", (userId) =>
            {
                Debug.WriteLine($"Usuario eliminado: {userId}");
                users = users.Where(u => u.Id != userId).ToList();
                InvokeAsync(StateHasChanged);

            });

            hubConnection.On<int>("UserEdit", (userId) =>
            {
                Debug.WriteLine($"Usuario Editado: {userId}");
                RecargarM();
                InvokeAsync(StateHasChanged);
            });
            hubConnection.On<CommandType>("UserDeleted", (commandType) =>
            {
                Debug.WriteLine($"Usuario eliminadocon comando");
                RecargarM();
                InvokeAsync(StateHasChanged);
            });


            await hubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            Debug.WriteLine($"Error al cargar los usuarios: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }

    private async void RecargarM()
    {
        Debug.WriteLine("Recarge manualmente");
        users = (await UserService.GetAllUsersAsync()).ToList();
        InvokeAsync(StateHasChanged);
    }
    private void NavigateToEdit(int userId)
    {
        Navigation.NavigateTo($"useredit/{userId}");
    }

    private async Task DeleteUser(int userId)
    {
        try
        {

            await UserService.DeleteUserAsync(userId);
            if(hubConnection is not null)
            {
                await hubConnection.SendAsync("Commandos", CommandType.DeleteUser);
            }
            users = (await UserService.GetAllUsersAsync()).ToList();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Debug.WriteLine($"Error al borrar usuario: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }
}
