@page "/weather"
@using Crud_Blazr.Application.Services

@inject PokeApiService PokeApiService

<h3>Lista de Pokémon</h3>

@if (pokemonList == null)
{
    <p>Cargando...</p>
}
else
{
    <ul>
        @foreach (var pokemon in pokemonList)
        {
            <li>@pokemon</li>
        }
    </ul>
}

@code {
    private List<string> pokemonList;

    protected override async Task OnInitializedAsync()
    {
        pokemonList = await PokeApiService.GetPokemonListAsync(250);
    }
}
